<div xmlns:th="http://www.thymeleaf.org" th:fragment="script" th:remove="tag">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link th:href="@{/css/angular/angular.css}" rel="stylesheet prefetch"/>

    <link th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer.css}" rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/tether/1.4.0/dist/js/tether.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js}"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script th:src="@{/js/angular/angular.js}"></script>
    <script th:src="@{/js/angular/angular-animate.js}"></script>
    <script th:src="@{/js/angular/angular-route.js}"></script>
    <script th:src="@{/js/angular/angular-aria.js}"></script>
    <script th:src="@{/js/angular/angular-messages.js}"></script>
    <script th:src="@{/js/angular/svg-assets-cache.js}"></script>
    <script th:src="@{/js/angular/angular-material.js}"></script>
</div>