<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<body>
<div th:fragment="fragment" layout:fragment="content">
    <div class="row content-panel">
        <div class="col-12">
            <h1 align="center">Nic nie znaleziono</h1>
                <img src="https://cdn.pixabay.com/photo/2016/03/31/15/21/cartoon-1293210_960_720.png" width="300"
                     height="300"
                     align="center"
                     alt="nothing-found">
            <p align="center">
                <a href="/vehicle/search">Spróbuj jeszcze raz</a>
                </span><a href="/">Strona główna</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>