.custom-header {
    background-color: #3949ab;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    color: white !important;
}

.custom-header a.nav-link, .custom-header a.navbar-brand, .custom-header button.navbar-toggler span.navbar-toggler,  i.fa {
    color: white !important;
}

html, body {
    background-color: #efefef;
    height: auto;
    font-family: 'Roboto', sans-serif !important;
}

.navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: absolute !important;
}

div.dropdown-menu {
    border-radius: 0;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

@media (min-width: 768px) {
    nav.navbar ul.nav-flex-icons div.dropdown-menu-r {
        right: 0;
        left: auto;
    }
}

body {
    position: static;
}

md-checkbox.md-checked .md-icon {
    background-color: rgb(57, 73, 171);
}

.custom-container {
    margin-top: 30px;
    margin-bottom: 5rem;
}

.content-panel {
    background-color: white;
    padding: 3rem 3rem;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    margin-bottom: 1.5rem;
}

.content-title {
    font-size: x-large;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #1f09ca;
}

.inputAngularErrors .inputErrorsApp {
    min-height: 48px; }

.inputAngularErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%; }

.inputError{
    color: red;
    font-size: 15px;
}