<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>
<h1>Pojazd: </h1>
<span th:text="'Brand: ' + ${vehicle.brand}"></span><br/>
<span th:text="'Model: ' + ${vehicle.model}"></span><br/>
<span th:text="'Vin: ' + ${vehicle.vin}"></span><br/>
<span th:text="'Registrationnumber: ' + ${vehicle.registrationnumber}"></span><br/>
<span th:text="'Enginenumber: ' + ${vehicle.enginenumber}"></span><br/>
<span th:text="'Category: ' + ${vehicle.category}"></span><br/>
<span th:text="'Weight: ' + ${vehicle.weight}"></span><br/>
<span th:text="'Power: ' + ${vehicle.power}"></span><br/>
<span th:text="'Capacity: ' + ${vehicle.capacity}"></span><br/>
<span th:text="'Secret: ' + ${vehicle.secret}"></span><br/>
    <br/>
    <br/>
<h1>Właściciele: </h1>
<li th:each="owner:  ${owners}">
    <td th:text="'Imie: ' + ${owner.firstname}"></td><br/>
    <td th:text="'Nazwisko: ' + ${owner.lastname}"></td><br/>
    <td th:text="'PESEL: ' + ${owner.pesel}"></td><br/>
    <td th:text="'Mail: ' + ${owner.mail}"></td><br/>
    <br/>
    <br/>
</li>
<h1>Przeglądy: </h1>
<li th:each="inspection:  ${inspections}">
    <td th:text="'Data: ' + ${inspection.date}"></td><br/>
    <td th:text="'Opis: ' + ${inspection.description}"></td><br/>
    <td th:text="'Adres Stacji Diagnostycznej: ' + ${inspection.diagnosticStation.street} + ' '
                                                 + ${inspection.diagnosticStation.local}"></td><br/>
    <br/>
    <br/>
</li>
<a href="/">Strona Główna</a> <br/>
</body>
</html>