<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>Zaloguj się</title>
    <meta id="vp" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <div th:replace="fragments/scripts::script"></div>
</head>
<body>
<section class="container custom-container" style="width: 450px;">
    <div class="row content-panel">
        <div class="col-12 content-title">
            <span>Zaloguj się</span>
        </div>
        <div class="col-12">
            <form th:action="@{/login}" method="post">
                <fieldset>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Niepoprawny login lub hasło
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            Pomyślnie wylogowano.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="UserName" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true"/>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="submit" class="btn btn-sm float-right btn-outline-primary" value="Zaloguj"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
<footer class="common-footer">
    <div th:replace="fragments/footer::footer"></div>
</footer>
</body>
</html>