<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>CEPIK</title>
    <meta id="vp" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <div th:replace="fragments/scripts::script"></div>
</head>
<body>
<header>
    <div th:replace="fragments/header::header"></div>
</header>
<section class="container custom-container">
    <div layout:fragment="content"></div>
</section>
<footer class="common-footer">
    <div th:replace="fragments/footer::footer"></div>
</footer>

</body>
</html>
